<ul class="nav pull-right">

    @if (Request.IsAuthenticated)
    {

        <li>
            @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        </li>
        <li>
            @using (Html.BeginForm("LogO ff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>

    }
    else
    {
        <li>
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "navbar-link" })
        </li>
    }
</ul>
